<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <h1>Pokemon</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card color="glass" *ngFor="let pokemon of listaPokemon">
    <ion-card-header>
      <img
        class="img"
        src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/001.png"
      />
      <div class="info">
        <p>#001</p>
        <p>{{pokemon['name']}}</p>
        <ion-badge class="bord" color="glass">Grass</ion-badge>
        <ion-badge class="bord" color="poison">Poison</ion-badge>
      </div>
    </ion-card-header>
  </ion-card>
</ion-content>
